body{
    background: #BDBDBD;
}

.hero-image {
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: auto;
}
.hero-text {
    text-align: center;
    color: black;
}
.my-hero {
    height: 50vh;
    width: 100%;
}

span {
    color: grey;
  }

