body{
    background: white;
}

.hero-image {
    background-image: url("../img/bg.jpg");
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: auto;
}
.hero-text {
    text-align: center;
    color: black;
}
.my-hero {
    height: 85vh;
    width: 100%;
    margin:0;
}
.onepagewonder1 {
    margin: auto;
    background-color: white;
    font-size: 92px;
    margin-bottom: 15px;
    margin-top: 50px;
}
.onepagewonder2 {
    background-color: white;
    font-size: 52px;
}

span {
    color: grey;
  }

.walterwhite{

        height: 60%;
        width: auto;

}