
<div class="row border-top border-bottom">
    <div class="col-"></div>
    <div class="col-7">
        <div><h4>The first heading will catch your eye</h4></div>
        <div>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin</div>
    </div>
    <div class="col-5">
        <img class="rounded-circle img-fluid" src="/website/assets/img/1.jpg">
    </div>
</div>