
<div class="row border-top border-bottom background">
    <div class="col-1"></div>
    <div class="col-6">
        <div><span>The first heading</span><span>will catch your eye</span></div>
        <div>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin</div>
    </div>
    <div class="col-4">
        <img class="rounded-circle walterwhite pt-2" src="/website/assets/img/1.jpg">
    </div>
    <div class="col-1"></div>
</div>