<!-- your html code here -->
<div class="px-5 my-5 bg-white">
<div class="row d-flex justify-content-center">
    <div class="col border-top pt-5"><h1 style="color:black;">Portfolio</h1></div>
</div>
<div class="row d-flex justify-content-center">
    <div class="col" style="color:black;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
</div>
<div class="row border-bottom pb-5">
    <div class="col">
        <div class="card-border-0" style="width: 18rem;">
        <img src="https://cdn.pixabay.com/photo/2024/01/07/16/00/grey-heron-8493489_1280.png" class="card-img-top" alt="...">
        <div class="card-body-px-0">
          <h5 class="card-title" style="color:rgb(81, 150, 196);">Project Name</h5>
          <p class="card-text" style="color:black;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
    <div class="col"></div>
    <div class="col">
        <div class="card-border-0" style="width: 18rem;">
        <img src="https://cdn.pixabay.com/photo/2024/01/07/16/00/grey-heron-8493489_1280.png" class="card-img-top" alt="...">
        <div class="card-body-gx-0">
          <h5 class="card-title" style="color:rgb(81, 150, 196);">Project Name</h5>
          <p class="card-text" style="color:black;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
    <div class="col"></div>
    <div class="col">
        <div class="card-border-0" style="width: 18rem;">
        <img src="https://cdn.pixabay.com/photo/2024/01/07/16/00/grey-heron-8493489_1280.png" class="card-img-top" alt="...">
        <div class="card-body-pl-0">
          <h5 class="card-title" style="color:rgb(81, 150, 196);">Project Name</h5>
          <p class="card-text" style="color:black;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
</div>
</div>