<!-- your html code here -->
<div class="p-5" style="background-color:white">
<div class="row d-flex justify-content-center">
    <div class="col"><h1>Portfolio</h1></div>
</div>
<div class="row d-flex justify-content-center">
    <div class="col d-flex justify-content-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
</div>
<div class="row g-0">
    <div class="col">
        <div class="card-border-0" style="width: 18rem;">
        <img src="https://cdn.pixabay.com/photo/2024/01/07/16/00/grey-heron-8493489_1280.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="color:rgb(81, 150, 196);">Project Name</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
    <div class="col"></div>
    <div class="col">
        <div class="card-border-0" style="width: 18rem;">
        <img src="https://cdn.pixabay.com/photo/2024/01/07/16/00/grey-heron-8493489_1280.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="color:rgb(81, 150, 196);">Project Name</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
    <div class="col"></div>
    <div class="col">
        <div class="card-border-0" style="width: 18rem;">
        <img src="https://cdn.pixabay.com/photo/2024/01/07/16/00/grey-heron-8493489_1280.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="color:rgb(81, 150, 196);">Project Name</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
</div>
</div>