<!-- your html code here -->
=======

<div class="row justify-content-end">
    <div class="col-6">
        <img src="https://img.freepik.com/free-photo/hands-typing-keyboard-top-view_23-2149762478.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1702339200&semt=ais"
            class="rounded-3">
    </div>
    <div class="col-6 text-center">
        <h1>The second heading <span>is pretty cool Too</span> </h1>
        <p>You can use the inspector (right mouse click to open this panel up) and then select the section you want in
            the
            "Elements" tab. Then go to copy, and copy element to quickly add to your project.</p>
    </div>
</div>